@import "@fontsource/inter/100.css";
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif;
    --background: 216 56% 98%;
    --foreground: 222.2 84% 4.9%;

    --muted: 213 100% 89%;
    --muted-foreground: 251 68% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 100%;

    --primary: 251 68% 6%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 1% 38%;
    --secondary-foreground: 0 0% 100%;

    --accent: 213 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --dynamic-green: 174 68% 44%;
    --dynamic-green-foreground: 174 68% 44%;

    --pink: 274 93% 78%;
    --pale-pink: 274 71% 89%;

    --blue: 213 100% 50%;
    --pale-blue: 213 100% 89%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 330 100% 98%;
    --foreground: 222.2 84% 4.9%;

    --muted: 274 72% 89%;
    --muted-foreground: 251 68% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 100%;

    --primary: 251 68% 6%;
    --primary-foreground: 210 40% 98%;

    --secondary: 232 60% 20%;
    --secondary-foreground: 0 0% 100%;

    --accent: 274 93% 78%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background   text-foreground;
  }
}
